<!DOCTYPE html>
<html>
<head>
    <title>Estadísticas</title>
    <link rel="stylesheet" text="text/css" href="/css/">
</head>
<body>
    <div class="main-container">
        <h1>Estadísticas</h1>
        <h2>Actividades por día</h2>
        <img src="/media/Grafico_barras.png">
        <h2>Actividades por tipo</h2>
        <img src="/media/Grafico_torta.png">
        <h2>Actividades por momento del día</h2>
        <img src="/media/grafico_horas.png">

        <a href="index.html">Volver al inicio</a>

    </div>
    
</body>
</html>