<!DOCTYPE html>
<html>
<head>
    <title>Estadísticas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estadisticas.css')}}">
</head>
<body>
    <div class="main-container">
        <figure class="highcharts-figure">
            <div id="first-graph"></div>

            <div id="second-graph"></div>

            <div id="third-graph"></div>
        </figure>

        <a href="{{ url_for('index') }}">Volver al inicio</a>

    </div>
    
</body>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="{{ url_for('static', filename='js/estadisticas.js') }}"></script>
</html>