.main-container {
  height: 50%;
  max-width: 1000px;
  margin: 2% auto;
  padding: 2rem;
  padding-top: .2rem;
  background-color: #ffffff;
}

.greating-message {
    display: flex;
    justify-content: center;
    font-size: 35px;
}

.links {
    text-align: center;
    font-size: 25px;
}

.act-list {
    font-size: 30px;
}

.act-list th,
.act-list td {
    padding: 12px 15px;
    border-bottom: 1px solid #000000;
    text-align: center;
}

img {
    max-width: 80px;
    max-height: 80px;
}